
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
@await Component.InvokeAsync("_ArticleListHeadComponentsPartial")

<body>
    <div class="main-container">
        <!-- Blog Listesi -->
        @await Component.InvokeAsync("_ArticleListComponentsPartial")
        
       

        <!-- Kategori Listesi -->
        @await Component.InvokeAsync("_CategoryListComponentPartial")
      
    </div>
</body>
</html>