@model Article

<div>
    <h2> Eklenen Son Blog</h2>
    <div>
        <img src="@Model.CoverImageUrl" style="width:250px;height:120px;" />
    </div>

    <h5>@Model.Title</h5>
    <a href="#" class="btn btn-primary">Makaleyi Oku</a>
</div>